* {
    font-family:"Quicksand", sans-serif;
    margin: 0;
}

html {
	font-family: sans-serif;
    font-size: 1rem;
}

p {
    font-size: 1.45rem;
}

/* classes */
.light-mode {
    background-color: #eeeeee;
    color: black;
    margin: 0;
    padding: 0;
}

.dark-mode {
   background-color: #111;
   color: white;
   margin: 0;
   padding: 0;
}

.project-card {
    display: flex;
    flex-direction: row;
    padding-top: 12.5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    align-items: center;
}

.section {
    position: relative;   
    align-content: center;
    box-shadow: 0px 0px 6px 0px #a93939;
    text-align: center;
    overflow:hidden;
}

.section-header {
    text-align: left;
    margin-left: 2em;
    top: 25%;
    padding: 0.3em;
    box-shadow: 8px 8px 7px 2px #9b5098;
    width: fit-content;
}

.section-card {
    height: 100vh;
    box-shadow: 0px 0px 6px 0px #a93939;
    min-height: fit-content;
}

.whoami-fade {
    opacity: 0;
    transition: opacity 2s ease-in-out;
    pointer-events: none;
    grid-row-start: 1;
    grid-column-start:1;
}

.whoami-fade.visible {
    opacity: 1;
    pointer-events: auto;
    grid-row-start: 1;
    grid-column-start:1;
}

.sidebar {
    display: none;
}


/* misc. ids */

.content{
    position: relative;
    left: 12.5%;
    width: 87.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content img {
    max-width: 100%;
    /* max-height: 100%; */
}

#dark-mode-button-container {
    position: fixed;
    top: 1%;
    left: 85%;
    bottom: 97%;
    justify-content: center;
}

#dark-mode-button {
    text-wrap: nowrap;
}

#pc-onoff-button {
    text-wrap: nowrap;
}



/* sidebar styling */

#sidebar {
    background-color: inherit;
    position: fixed;
    height: 100vh;
    width: 12.5%;
    border-right: 1pt solid #9b5098;
    box-shadow: 0px 0px 20px 7px #9b5098;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 10000;
}

#sidebar a {
    color: inherit;
    text-decoration: none;
}

#sidebar a:hover {
    color:#9e5d90
}

#sidebar img {
    padding-top: 10%;
    padding-left: 10%;
    max-width: 100%;
    max-height: 100%;
}

#sidebar ul {
    list-style-type: none;
    padding: 0.7rem;
    text-wrap: nowrap;
}

#sidebar li {
    font-size: 1.6rem;
    padding-top: 0.7em;
}

#sidebar ul ul {
    padding-left: 1.5em;
}

#sidebar ul ul li {
    font-size: 1.1rem;
    padding-top: 1em;
}

/* whoami section styles */

#whoami {
    overflow: hidden;
    text-align: center;
    align-content: center;
    display: grid;
    grid-template-columns: 1fr;
    height: fit-content;
    min-height: 100vh;
}

#whoami img {
    border-radius: 50%;
    border: solid #9e5d90 7px;
    max-width: 35vh;
    max-height: 35vh;
}

#whoami-header {
    width: 100%;
    font-size: 2.5em;
}

/* what is this section styles */

#whatisthis p {
    position: relative;
    top: 25%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}

#whatisthis a {
    display:inline-block;
    transition: all .2s ease-in-out; 
    font-weight: bold;
    color: inherit;
    
}

#whatisthis a:hover {
    transform: scale(1.1);
}

/* resume section styles */
#resume-container {
    display: flex;
    flex-direction: row;
    padding: 5%;
    align-items: center;
}

#resume img {
    position: relative;
    display: inline-block;
    height:auto;
    width:25%;
    height: 25%;
    flex: 1;
}

#resume-container p {
    position:relative;
    display: inline-block;
    width: 25%;
    bottom: 17.5%;
    font-size: 1.75em;
    padding: 5%;
    flex: 1;
}

#resume-container a {
    color: inherit;
    position: relative;
    bottom: 15%;
    flex: 1;
}


/* Dos games section styling */

#dos-card {
    background-image: url(../backgrounds/dosBackgroundFrame.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
}

#available-games-container{
    position: block;
    display:flex;
    flex-direction: column;
    overflow: auto;
    width: 20%;
    gap: 1rem;
    left: 5%;
    bottom: 20%;
    background: #eee;
}

/* JS DOS STYLING */

.jsdos-rso .window {
    overflow: hidden;
}
.bg-base-100 {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--b1) / var(--tw-bg-opacity));
}
.flex {
    display: flex
}
.justify-center {
    justify-content: center;
}
.w-full {
    width: 100%;
}
.h-full {
    height: 100%;
    width: 100%;
}
.absolute {
    position: absolute;
}

.jsdos-rso .window .background-image {
    pointer-events: none;
    position: absolute;
    left: 3rem;
    right: 0;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.jsdos-rso canvas,
.jsdos-rso .slider,
.jsdos-rso .soft-keyboard {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -ms-touch-action: none;
    -ms-content-zooming: none;
    touch-action: none;
    outline: none
}

.jsdos-rso .emulator-canvas,
.jsdos-rso .emulator-video {
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    touch-action: none
}

.jsdos-rso canvas {
        display: block;
        height: 100%;
        width: 100%;
}

#dos-container {
    height: 30%;
    width: 32%;
    position: absolute;
    top: 21%;
    left: 43%;
    display: block;
}

#dos {
    height: 100%;
    width: 100%;
    position: absolute;
}

#dos #login {
    display: none;
}

#dos .pre-run-window {
    position: relative;
    width: 25%;
    height: 25%;
    left: 35%;
    color: #eee;
}

/* projects styling */

.project-card img {
    padding: 3%;
}

.project-card p {
    padding: 3%;
    align-self: center;
    flex: 1;
}

.project-card a {
    color: inherit;
}

.project-card a:hover {
    display: inline-block;
    transform: scale(1.1);
}

/* Socials */

.socials-box {
    display:flex;
    flex-direction: column;
    flex: 1;
    margin: 5%;
}

.socials-box:hover {
    transform: scale(1.1);
}

.socials-box a {
    text-decoration: none;
    color: inherit;
    font-size: 2em;
    max-width: 270px;
    align-self: center;
}

.socials-box img {
    border-radius: 20%;
}


#socials-grid {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 10%;
    align-self: center;
    flex-wrap: wrap;
    top: 5%;
}

#socials-title {
    align-self: center;
}

/* contact styling */

#email-me {
    height:fit-content;
    padding-bottom: 4%;
}

.email-container {
    color:#ffffff;
    position: relative;
    border-radius: 5px;
    background-color: #a8a8a8;
    padding: 20px;
    width: 45%;
    height: fit-content;
    left: 25.5%;
    top: 7%;
    text-align: left;
    min-height: 300px;
    margin-top: 4%;
  }

.input-text, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
    line-height: 1.2em;
    z-index: 1000;
  }
  
  #email-submit {
    background-color: #9b5098;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #email-submit:hover {
    background-color: #aa7aa8;
  }

  #email-me h1, #email-me h3 {
    padding-top: 3%;
  }

  #form-content {
    height: 275px;
}
  

/* footer */

#footer {
    background-color: inherit;
    border-top: solid 3px #a93939;
    height: fit-content;
    text-align: center;
    position: sticky;
    width: 100%;
    top: 97%;
    min-height: 5px;
}

#alt-footer {
    background-color: inherit;
    border-top: solid 3px #a93939;
    height: 2vh;
    text-align: center;
    position: relative;
    width: 100%;
    top: 97%;
    display:none;
    padding-top: .5%;
}

#secret-header {
    position: absolute;
    bottom: 1%;
    display: none;
}

/* rules - media */

@media only screen and (max-width: 1600px),(max-height:1000px)  {

    html {
        font-size: 0.75rem;
    }

    .content {
        left: 0%;
        width: 87.5%;
        height: 100%;
        margin-left: 12.5%;
    }

    .content img {
        max-width: 55vh;
    }

    .section-header{
        font-size: 1.5em;
    }

    .project-card {
        padding-top: 10%;
    }
    
    #alt-footer {
        display:block;
    }

    #form-content {
        height: 100px;
    }


    #resume {
        height: fit-content;
        padding: 2%;
    }

    #resume-container {
        margin-top: 0;
        margin-bottom: 0;
    }

    #resume-container img {
        height: 70%;
        width: 50%;
    }

    #section-card {
        height:100vh;
    }

    #whatisthis {
        height:fit-content;
    }

    #whatisthis p{
        top: 1%;
        padding: 2.5%;
    }
}

@media only screen and (max-width: 1000px) {

    .content {
        width: 100%;
        margin-left:0%;
    }

    .content img {
        max-width: 45vh;
    }
    
    .section-card {
        height: fit-content;
    }

    .section-header {
        margin-left: 0%;
    }

    .project-card {
        padding-left: 0%;
        padding-top: 10%;
        padding-bottom: 10%;
        flex-direction: column;
    }

    .project-card img{
        max-height: 300px;
        max-width: 300px;
        height:auto;
        width:auto;
    }

    #alt-footer {
        display:block;
    }

    #form-content {
        height: 100px;
    }

    #secret-header {
        display: block;
        color: #fff;
    }

    #sidebar {
        display:none;
    }

    #resume-container {
        flex-direction: column;
    }

    #resume-container p {
        width: 100%;
        font-size: 1.45rem;
    }

    #whatisthis p {
        font-size: 1.45rem;
        margin-left: 0%;
        margin-right: 0%;
        padding-top: 10.5%;
        padding-bottom: 10.5%;
    }
}

@media only screen and (orientation: portrait){
    .project-card {
        flex-wrap: wrap;
        padding: 1%;
    }

    .section-card {
        height: fit-content;
    }
}
